<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        failOnEmptyTestSuite="true"
        beStrictAboutOutputDuringTests="true"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <env name="DATABASE" value="cash_test" force="true"/>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
